
<footer class="footer">
    <div class="footer-section">
        <h3>Follow us:</h3>
        <a href="#">Instagram</a>
        <a href="#">Facebook</a>
        <a href="#">TikTok</a>
    </div>

    <div class="footer-section">
        <h3>Help Center</h3>
        <a href="#">FAQ</a>
        <a href="#">How to sell?</a>
        <a href="#">How to buy?</a>
        <a href="#">How to sign up?</a>
    </div>

    <div class="footer-section">
        <h3>More</h3>
        <a href="#">About us</a>
        <a href="#">Location</a>
        <a href="#">Contact</a>
    </div>
</footer>
