<nav class="navbar">
    <div class="nav-left">
        <a href="{% url 'home' %}" class="logo">ArtVault</a>
    </div>

    <div class="nav-center">
        <div class="search-box">
            <input type="text" placeholder="Search...">
            <span class="search-icon">🔍</span>
        </div>

        <div class="nav-links">
            <a href="#">See all</a>
            <a href="#">Category</a>
            <a href="#">How to?</a>
            <a href="#">Buy</a>
            <a href="#">Sell</a>
        </div>
    </div>

    <div class="nav-right">
        <a href="{% url 'account_choice' %}" class="login-btn">Login</a>
    </div>
</nav>
